name: Build and Sign APK/AAB

on:
  workflow_call:
    inputs:
      assemble-script: { required: true, type: string }
      output-dir:      { required: true, type: string }
      unsigned-name:   { required: true, type: string }
      artifact-name:   { required: true, type: string }
    secrets:
      signing-key:       { required: true }
      alias:             { required: true }
      keystore-password: { required: true }
      key-password:      { required: true }
      revenuecat-api-key-prod: { required: false }
    outputs:
      artifact-name:
        value: ${{ jobs.build-sign.outputs.artifact-name }}

jobs:
  build-sign:
    runs-on: ubuntu-latest
    outputs:
      artifact-name: ${{ steps.artifact-name.outputs.artifact-name }}
    env:
      BUILD_TOOLS_VERSION: "34.0.0"
      ARTIFACT_NAME: ${{ inputs.artifact-name }}
      REVENUECAT_API_KEY_PROD: ${{ secrets.revenuecat-api-key-prod }}
      REVENUECAT_API_KEY_DEBUG: ${{ secrets.revenuecat-api-key-debug }}

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      # Enable KVM for hardware acceleration required for baseline profile generation
      - name: Enable KVM - Hardware Acceleration
        run: .github/scripts/ui_test_hardware_acceleration.sh

      # Build release artifact with baseline profile
      - run: ${{ inputs.assemble-script }}

      # Sign the artifact with a test key
      - uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: ${{ inputs.output-dir }}
          signingKeyBase64: ${{ secrets.signing-key }}
          alias:            ${{ secrets.alias }}
          keyStorePassword: ${{ secrets.keystore-password }}
          keyPassword:      ${{ secrets.key-password }}

      # Rename signed artifact
      - run: ./.github/scripts/rename_artifact.sh "${{ inputs.output-dir }}/${{ inputs.unsigned-name }}" "${{ inputs.output-dir }}/${{ env.ARTIFACT_NAME }}"

      # Output ARTIFACT_NAME to the parent workflow
      - name: Set artifact output name
        id: artifact-name
        run: echo "artifact-name=${{ env.ARTIFACT_NAME }}" >> $GITHUB_OUTPUT

      # Upload the signed artifact
      - uses: actions/upload-artifact@v6
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ inputs.output-dir }}/${{ env.ARTIFACT_NAME }}
